* {
	font-family: "Courier New";
	font-size:  20px;
}

body p + p + p {
                color: blue;
}

h1 {
	font-size: 1.5rem;
}

#header2 {
	text-transform: uppercase;
}

.list-language {
	background-color: #5AAB61;
}

h4 + img +ul {
	list-style-type: square;
}

section img {
	height: 300px;
	width: 300px;
	border-radius: 150px;
}

ul ~ p {
	text-align: center;
}

body > section > ul > li {
	letter-spacing: 7px;
}